@mixin flex ($justify){
    display: flex;
    align-items: center;
    justify-content: $justify;
}

@mixin flexColumn ($justify){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: $justify;
}