@import "colors";
@import "mixins";

.search{
    background-color: $violet;
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    height: 60vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    h1{
        font-weight: 400;
        margin: 0 0 1rem;
    }

    .search__searchbar{
        margin-top: 15px;
        width: 100%;
        max-width: 720px;
        background-color: $white;
        display: flex;
        align-items: center;
        border-radius: 4px;
        border: solid 1px $black;
        &:hover{
            border: solid 1px $blue;
        }

        input{
            flex: 1;
            border-radius: 4px;
            outline: none;
            font-size: 20px;
            padding: 24px 20px;
            
        }

        button{
            border: 0;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: $white;
            cursor: pointer;

            img{
                width: 25px;
                margin-bottom: 25%;
            }
        }
        
    }
}

@media (max-width: 768px) {
    .search{
        font-size: 3rem;

        .search__searchbar{
            width: auto !important;

            img{
                margin-top: 25%;
            }
        }
    }
}

@media (max-width: 465px) {
    .search{
        font-size: 2rem;
    }

    .search__searchbar{
        width: auto !important;
    }
}

@media (max-width: 324px){
    .search{
        .search__searchbar{
            width: auto !important;
        }
    }
}